<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillRack School</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- swipper js cdn -->
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
  
</head>
<body>
    <nav id="navbar">
        <div class="container nav_container">
            <a href="index.html"><h4>SkillRack</h4></a>
            <ul class="nav_menu">
                <li><a href="../Views/index.html">Home</a></li>
                <li><a href="../Views/about.html">About</a></li>
                <li><a href="../Views/courses.html">Courses</a></li>
                <li><a href="../Views/contact.html">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-chart-pie-alt"></i></button>
            <button id="close-menu-btn"><i class="uil uil-times"></i></button>
        </div>
    </nav>
    <!-- navbar ending -->

    <!-- header Section -->
     <header>
        <div class="container header_container">
            <div class="header_left">
                <h1>Grow your skill to advance your career path</h1>
                <p>"Provide your own narratives. We are going to share stories that hold special value for us. Stories from experiences or history could be included. We'll investigate the significance of our stories for spirituality and life."</p>
                <a href="../Views/courses.html" class="btn btn-primary">Get Started</a>
            </div>
            <div class="header_right">
                <div class="header_right-image">
                    <img src="../images/header_image.png" alt=""/>
                </div>
            </div>
        </div>
     </header>
     <!-- header section End -->
<!-- categories section -->
     <section class="categories">
        <div class="container categories_container">
            <div class="categories_left">
                <h1>Categories</h1>
                <p>Programming for Everybody (Getting Started with Python) from University of Michigan, which teaches programming fundamentals using Python </p>
                <a href="../Views/courses.html" class="btn">Learn More</a>
            </div>
            <div class="categories_right">
                <a href="https://tech.seas.harvard.edu/free-blockchain">
                <article class="category">
                    <span class="category_icon"><i class="uil uil-bitcoin"></i></span>
                    <h5>Blockchain</h5>
                    <p>A blockchain course for beginners - will cover blockchain basics like how blockchain works and applications of blockchain.</p>
                </article></a>

            <a href="https://react.dev/">
                <article class="category">
                    <span style="background: red;" class="category_icon"><i class="uil uil-programming-language"></i></span>
                    <h5>Programming</h5>
                    <p>Full Stack Web Development - Build projects and learn HTML/CSS, JavaScript, React, Node.js, and MongoDB.</p>
                </article>
            </a>
            <a href="https://www.coursera.org/courses?query=business">
                <article class="category">
                    <span style="background: blueviolet;" class="category_icon"><i class="uil uil-analytics"></i></i></span>
                    <h5>Business</h5>
                    <p>Digital Marketing Specialization - Learn SEO, social media marketing, and Google Analytics.</p>
                </article>
            </a>
            <a href="https://youtu.be/5NgNicANyqM?si=0J_xPd9gL65TlHuA">
                <article class="category">
                    <span style="background: goldenrod;" class="category_icon"><i class="uil uil-robot"></i></span>
                    <h5>Artificial Intelligence</h5>
                    <p>AI For Everyone Understand - AI basics, machine learning, and natural language processing</p>
                </article>
            </a>
            <a href="https://youtu.be/-ETQ97mXXF0?si=M5amRzdH_ablfyGO">
                <article class="category">
                    <span style="background: orangered;" class="category_icon"><i class="uil uil-database"></i></i></span>
                    <h5>Data Science</h5>
                    <p>Machine Learning with TensorFlow - Build ML models using TensorFlow and Python.</p>
                </article>
            </a>
            <a href="https://youtu.be/QXhLQJME2p8?si=Pn8wLr8BTpf92D8t">
                <article class="category">
                    <span style="background: yellowgreen;" class="category_icon"><i class="uil uil-closed-captioning"></i></span>
                    <h5>Creative Skills</h5>
                    <p>Graphic Design Fundamentals (Canva Design School) - Learn visual design, branding, and typography.</p>
                </article>
            </a>
            </div>
        </div>
     </section>
<!-- end categories section -->

<section class="courses">
    <h2>Our Popular Courses</h2>
    <div class="container courses_container">
        <article class="course">
            <div class="course_image">
                <img src="../images/image_socialmadia.avif" alt="">
            </div>
            <div class="course_info">
                <h4>Responsive SmartHome Website Design</h4>
                <p>A contemporary approach to web design that makes it possible for websites to correctly render and show on all screen sizes and  devices.</p>
                <a href="../Views/courses.html" class="btn btn-primary">Learn More</a>
            </div>
        </article>
        <article class="course">
            <div class="course_image">
                <img src="../images/image_smarthome.avif" alt="">
            </div>
            <div class="course_info">
                <h4>Responsive SmartHome Website Design</h4>
                <p>A modern method of web design that enables websites to display and render properly across all screen sizes and devices.</p>
                <a href="../Views/courses.html" class="btn btn-primary">Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
                <img src="../images/image_admindashboard.avif" alt="">
            </div>
            <div class="course_info">
                <h4>Responsive Admin Dashboard UI Design</h4>
                <p>An admin dashboard using files involves storing data in JSON or CSV files and retrieving it using JavaScript or a server-side language like PHP or Python. </p>
                <a href="../Views/courses.html" class="btn btn-primary">Learn More</a>
            </div>
        </article>
    </div>
</section>
<!-- End Popluar section -->

<section class="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="container faqs_container">
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>What are the key skills required for success?</h4>
                <p>Critical thinking, creativity, communication, collaboration, and adaptability are essential skills for success in the modern workforce.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How can I improve my time management skills?</h4>
                <p>Prioritize tasks, set realistic goals, use calendars/planners, avoid multitasking, and take breaks to improve time management skills.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>What is emotional intelligence, and why is it important?</h4>
                <p>Emotional intelligence refers to recognizing and managing one's emotions and others'. It's crucial for effective communication, teamwork, and leadership.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How can I develop my public speaking skills?</h4>
                <p>Join public speaking groups (e.g., Toastmasters), practice presentations, record yourself, and seek feedback to improve public speaking skills.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>What are the benefits of continuous learning?</h4>
                <p>Continuous learning enhances career prospects, increases earning potential, and fosters personal growth and adaptability.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How can I build a strong professional network?</h4>
                <p>Attend industry events, join professional organizations, volunteer, and engage on LinkedIn to build a strong professional network.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>What are the essential skills for effective teamwork?</h4>
                <p>Active listening, clear communication, empathy, flexibility, and problem-solving are vital skills for effective teamwork.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How can I overcome self-doubt and build confidence</h4>
                <p> Focus on strengths, set achievable goals, practice positive self-talk, and seek supportive mentors/peers to overcome self-doubt.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>What is resilience, and how can I develop it?</h4>
                <p>Resilience is coping with adversity. Develop resilience through self-awareness, positive relationships, self-care, and learning from failures.</p>
            </div>
        </article>
        <article class="faq">
            <div class="faq_icon">
                <i class="uil uil-plus"></i>
            </div>
            <div class="question_answer">
                <h4>How can I prioritize my mental health and well-being?</h4>
                <p>Practice mindfulness, exercise regularly, maintain work-life balance, and seek support from professionals/friends/family to prioritize mental health.</p>
            </div>
        </article>
    </div>
</section>
<!-- =============  end of FAQS ==================== -->

<!-- =============  Testimonials Section ============== -->
 <section class="container testimonials_container mySwiper">
    <h2>Student's Testimonials</h2>
    <div class="swiper-wrapper"> 
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person1.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Subathra K</h5>
                <small>Frontend Developer</small>
            </div>
            <div class="testimonial_body">
                <p>"The course helped me stay current with industry developments and best practices."</p>
            </div>
        </article>
        
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person2.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Daniel K</h5>
                <small>Team Lead</small>
            </div>
            <div class="testimonial_body">
                <p>"The training enhanced my leadership skills and team management."</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person3.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Snageetha R</h5>
                <small>College Student</small>
            </div>
            <div class="testimonial_body">
                <p>"The online course helped me understand complex concepts easily. Thank you!"</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person4.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Michael T</h5>
                <small>Engineering Student</small>
            </div>
            <div class="testimonial_body">
                <p>"The study materials were comprehensive and well-organized. Great job!" -</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person5.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>David K</h5>
                <small> Computer Science Major</small>
            </div>
            <div class="testimonial_body">
                <p>"I improved my coding skills significantly after taking this course. Highly recommended!"</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person6.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Rachel G</h5>
                <small>Graduate Student</small>
            </div>
            <div class="testimonial_body">
                <p>"This course opened my eyes to new career possibilities. I'm grateful!"</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person7.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Karen J</h5>
                <small>Marketing Specialist</small>
            </div>
            <div class="testimonial_body">
                <p>"The training program boosted my productivity and confidence at work." </p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person8.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Christine M</h5>
                <small>HR Recuriter</small>
            </div>
            <div class="testimonial_body">
                <p>"The training was engaging, informative, and relevant to my industry." </p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person9.jpeg" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Lisa N</h5>
                <small>Business Analyst</small>
            </div>
            <div class="testimonial_body">
                <p>"The course helped me transition into a new role seamlessly. Thank you!" </p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="../images/image_person10.avif" alt="">
            </div>
            <div class="testimonial_info">
                <h5>Karthik S</h5>
                <small>Data Scientist</small>
            </div>
            <div class="testimonial_body">
                <p>"The instructor's expertise and feedback were invaluable. Highly recommend!"</p>
            </div>
        </article>

    </div>
    <div class="swiper-pagination"></div>
 </section> 

 <!-- =============     End Testimonials Section ============== -->

<footer class="footer">
    <div class="container footer_container">
        <div class="footer_1">
            <a href="../Views/index.html" class="footer_logo"><h4>SkillRack</h4></a>
            <p>
                Helping people learn to code for free is our mission. To achieve this, we provide hundreds of publicly accessible videos, articles, and interactive coding classes.
            </p>
        </div>
        <div class="footer_2">
            <h4>Permalinks</h4>
            <ul class="permalinks">
                <li><a href="../Views/index.html">Home</a></li>
                <li><a href="../Views/about.html">About</a></li>
                <li><a href="../Views/courses.html">Courses</a></li>
                <li><a href="../Views/contact.html">Contact</a></li>
            </ul>
        </div>
    
        <div class="footer_3">
            <h4>Priority</h4>
            <ul class="privacy">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Coditions</a></li>
                <li><a href="#">Refund Policy</a></li>
            </ul>
        </div>
        <div class="footer_4">
            <h4>Contact Us</h4>
            <div>
               <p> <a href="#" onclick="window.location.href='tel:+919384911520'">+91 9384911520</a></p>
                <p><a href="#" onclick="window.location.href='mailto:tamilofficial017@gmail.com'">tamilofficial017@gmail.com</a></p>
            </div>
    
            <ul class="footer_socials">
                <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                <li><a href="#"><i class="uil uil-instagram-alt"></i></a></li>
                <li><a href="#"><i class="uil uil-twitter-alt"></i></a></li>
                <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer_copyright">
        <small>Copyright &copy; SkillRack is a donor-supported tax-exempt 501(c)(3) charitable organization</small>
    </div>
</footer>


 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 <script src="../app/app.js"></script>
 
 <!-- testimonials -->
 <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    //   when width >=600px
    breakpoints:{
    700: {
            slidesPerView:3
        }
    } 
    });
 </script>
</body>
</html>